body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.capa {
    width: 100%;
    height: auto;
    position: relative;
    background-image: url('contatos.png'); 
    background-size: cover; 
    background-position: center; 
}

.menu {
    position: absolute;
    top: 40px;
    right: 40px;
    padding: 5px;
    border-radius: 5px;
    background-color: #b1a9a9;
}

.menu .menu-icon, .menu .menu-text {
    color: white;
    cursor: pointer;
}

.hidden {
    display: none;
}

nav ul {
    list-style: none;
    padding: 5px;
    margin: 5px;
    background-color: rgba(230, 219, 219, 0.5);
    border-radius: 5px;
}

nav ul li {
    margin: 5px 0 10px 0; 
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

header, footer {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

.termoslink {
    color: #000;
    text-decoration: none;
}

.termoslink:hover {
    text-decoration: underline;
}

h1 {
    font-family: 'alex brush';
    text-align: center;
}

h2 {
    text-align: center;
}

.logo {
    width: 400px;
    height: auto;
    margin-right: 10px;
}
header {
    margin-bottom: 60px;
}
footer {
    margin-top: 60px;
  }